.ice-logo {
    height: 8vh;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    width: 60%;
    padding: 25px;
    border-radius: 1%;
    background-color: #dee2e6;
}

.navbar-collapse.in {
    display: block !important;
}

#deliveries {
    margin-top: 10vh;
}

.btn {
    margin-top: 15px;
}

button {
    background-color: #48BCD1 !important;
    border-color: #48BCD1 !important;
}

#deliveries {
    overflow-x: auto;
}

.table-container {
    margin: 30px;
}