.ice-logo {
    height: 8vh;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5vh;
    width: 60%;
    padding: 25px;
    margin-bottom: 2.5vh;
    border-radius: 1%;
    background-color: #dee2e6;
}

.navbar-collapse.in {
    display: block !important;
}

#deliveries {
    margin-top: 10vh;
}

.submit-button {
    background-color: #48BCD1 !important;
    border-color: #48BCD1 !important;
    color: white;
}

#deliveries {
    overflow-x: auto;
}

.table-container {
    margin: 30px;
}

#searchbar{
    background-color: var(--white);
    position: relative;
    color: var(--black);
    border-radius: 5px;
    box-shadow: var(--medium) 1px 1px 0px 0px;
    border-radius: 5px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 35%;
  }

.table-input {
    width: 7.5vw;
}