:root {
    --primary: #48BCD1
}

.ice-logo {
    height: 8vh;
    margin-left: 20px;
    border-radius: 5px;
    margin-right: 15px;
}

.container {
    display: flex;
    justify-content: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5vh;
    width: 50vw;
    padding: 25px;
    margin-bottom: 2.5vh;
    border-radius: 5px;
    background-color: #eef0f3;
}

.navbar-collapse.in {
    display: block !important;
}

#deliveries {
    margin-top: 5vh;
}

.submit-button {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: white;
}

#deliveries {
    overflow-x: auto;
}

.table-container {
    margin: 15px;
}

#searchbar{
    background-color: var(--white);
    position: relative;
    color: black;
    border-radius: 5px;
    margin-top: 2.5vh;
    box-shadow: var(--medium) 1px 1px 0px 0px;
    border-radius: 5px;
    
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 35%;
  }

.table-input {
    width: 100px;
    background-color: transparent;
    border-color: var(--black);
    border-width: 0.5px;
    height: 5vh;
}
    .table-input:focus {
        outline: 1.5px solid var(--primary);
        -webkit-transition: width 0.15s ease-in-out;
        transition: width 0.15s ease-in-out;
        width: fit-content !important;
    }

.table-date {
    width: fit-content !important;
}

.nav-link {
    color: rgb(208, 199, 199) !important;
}
.nav-link:hover {
    transition: 0.6s all;
        color: var(--primary) !important;
}
.nav-link:not(:hover) {
    transition: 0.6s all;
    color: rgb(208, 199, 199) !important;
}

.btn-nav-link {
    border: none;
    background-color: transparent !important;
}
    .btn-nav-link:hover {
        transition: 0.6s all;
        color: var(--primary) !important;
    }
    .btn-nav-link:not(:hover) {
        transition: 0.6s all;
        color: rgb(208, 199, 199) !important;
    }

    .logout-btn {
        display: flex;
        align-items: center;
        margin-right: 30px;
        margin-left: auto;
    }

    .nav-ul {
        width: 100%;
    }

.add-delivery-input:focus {
    outline: 2px solid var(--primary);
}

.this-week {
    background-color: #FFFF8F !important;
}